*{
	margin: 0;
	padding: 0;
	}
html,body{
	scroll-behavior: smooth;
	width: 100%;
	background: #161616;
	color: white;
	overflow-x: hidden;
	
	
}
section{
	padding: 2rem 7%;
}



/* ======================== Header ===============================*/
.header{
	background: #232330;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px 7%;
	border-bottom: 0.2rem solid #ffc107;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}
.header a img{
	max-width: 100px;
}
/* =========================Navbar================ */
.header .nav a{
	margin: 0 1rem;
	font-size: 1.3rem;
	color: #fff;
	text-decoration: none;
	transition:  .5s ease;
}
.header .nav a:hover{
	color: #ffc107;
	border-bottom: 0.1rem solid #ffc107;
	padding-bottom: 0.5rem;
}


.header .icons {
	font-size: 1.7rem;
	margin-left: 2rem;
	display: flex;
	gap: 20px;
}
.header .icons #menu-btn{
	display: none;
}
.header .icons .ic{
	cursor: pointer;
	transition:  .5s ease;

}
.header .icons .ic:hover{
	color: #ffc107;
}
/* =====================searchbar================= */
.header .searchform{
	position: absolute;
	top: 130%;
	right: 7%;
	background: #fff;
	width: 30rem;
	height: 5px;
	display: flex;
	align-items: center;
	transform: scaleY(0);
	transform-origin: top;
	transition: .5s ease;

}
.header .searchform.active{
     transform: scaleY(1);
}
.header .searchform input{
	height: 100%;
	width: 100%;
	font-size: 1.1rem;
	padding: 1rem;
	text-transform: none;

}
.header .searchform  label{
	cursor: pointer;
	font-size: 2rem;
	color:#13131a;
	height: 38px;
	background: #fff;
}
.header .searchform  label:hover{
	color: #ffc107;
}
/* ==============login=============== */
.login{
	background: #000000f8;
	position: absolute;
	top: -700%;
	right: 10%;
	height: auto;
	width: 50rem;
	padding: 5rem;
	transition: .5s;
}
.login.active{
	top: 100%;
}

.login .login-form h3{
	font-size: 3rem;
	color: #ffc107;
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}
.login .input-box{
	display: flex;
align-items: center;
margin-top: 1rem;
margin-bottom: 1rem;
background: #13131a;
border: .15rem solid #ffc107;
height: 2rem;
width: 50%;
margin-left: 12rem;

}
.login .input-box input{
	background: none;
	border: none;
	padding: 1.3rem;
	font-size: 1rem;
	width: 100%;
	height: .1rem;
	color: white;
	text-transform: none;
}
.login p a{
	text-decoration: none;
	font-weight: bold;
	margin-left: 12rem;
	color: #fff;

}
.login .btn{
	text-transform: uppercase;
	background: #ffc107;
	text-decoration: none;
    display: flex;
	align-items: center;
	justify-content: center;
	height: 2.5rem;
	width: 15rem;
	border: none;
	border-radius: 3rem;
	color: #232330;
	font-weight: 600;
	cursor: pointer;
	margin-left: 17rem;
	margin-bottom: 2rem;
	margin-top: 2rem;
	transition: .5s ;
}
.login .btn:hover{
	background: #13131a;
	color: #ffc107;
}
.login .singup{
	padding-top: 4rem;
	margin-left: 12rem;
	

}
.login .singup a{
	color: blue;
	text-decoration: none;
}



/* ============== Add to Cart =============================*/
.header .cart-contener{
	color: black;
	position: absolute;
	top: 110%;
	right: -800%;
	height: 100vh ;
	width: 35rem;
	background: #fff;
	padding: 0 1.5rem;
	transition: .5s all;
}
.header .cart-contener.active{
	right: 3%;
}
.header .cart-contener .cart-item{
	position: relative;
	margin:  2rem 0;
	display: flex;
	align-items: center;
	gap: 1.5rem;
}
.header .cart-contener .cart-item .remove{
	position: absolute;
	top: 1rem;
	right: 0;
	font-size: 2rem;
	cursor: pointer;
	
}
.header .cart-contener .cart-item .remove :hover{
	color: #ffc107;
}
.header .cart-contener .cart-item img{
	height: 70px;
	width:  70px;
	object-fit: cover;
}
.header .cart-contener .cart-item.content{
	color: black;
}
.header .cart-contener  .btn {
	text-transform: uppercase;
	background: #ffc107;
	text-decoration: none;
    display: flex;
	align-items: center;
	justify-content: center;
	height: 2.5rem;
	border-radius: 3rem;
	color: #232330;
	font-weight: 600;
	cursor: pointer;
	
}
.header .cart-contener  .btn:hover{
	background: #161616;
	color: #ffc107;
	}

	/* ======Home======== */
	.Home{
		min-height: 100vh;
		display: flex;
		align-items: center;
		background: linear-gradient(90deg, rgb(0 0 0 /90%),rgb(68 68 68/ 35%)),
		url(../src/img/hero\ bg.avif)no-repeat;
		background-position: center;
	}
	.Home .hero{
		max-width: 60rem;
	}
	.Home span{
       color: #ffc107;
	   text-transform: uppercase;
	}
	.Home .hero h3{
     font-size: 5rem;
	 text-transform: uppercase;
	 color: #ffff;
	}
	.Home .hero p{
		font-size: 1.5rem;
		font-weight: lighter;
		line-height: 1.8;
		padding: 1rem 0;
		color: #eee;
	}

	.Home .hero  .btn {
		text-transform: uppercase;
		background: #ffc107;
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 2.5rem;
		width: 14rem;
		border-radius: 3rem;
		color: #232330;
		font-weight: 600;
		cursor: pointer;
		transition: .5s  ease all;
		
	}
	.Home .hero .btn:hover{
		background: #161616;
		color: #ffc107;
		}

		/* =====About======= */

.about .title{
	font-size: 3rem;
	color: #ffff;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	margin: 5rem
}
.about span{
	color: #ffc107;
	text-transform: uppercase;
}
  .about .row {
		display: flex;
		align-items: center;
		background: #13131a;
		/* flex-wrap: wrap; */
	}
		
	.about .row .img{
		flex: 1 1 45rem;
	}
	.about .row .img img{
		width: 100%;
	}
	.about .row .content{
		flex:  1 1 45rem;
		padding: 1rem;
	}
	.about .row .content h3{
		font-size: 2rem;
		color: #fff;

	}
	.about .row .content p{
		font-size: 1.1rem;
		color: #ccc;
		padding: 1rem 0;
		line-height: 1.5;
	}
	.about .row .content .btn{
		text-transform: uppercase;
		background: #ffc107;
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 2.5rem;
		width: 14rem;
		border-radius: 3rem;
		color: #232330;
		font-weight: 600;
		cursor: pointer;
		transition: .5s  ease all;
	}
	.about .row .content .btn:hover{
		background: #161616;
		color: #ffc107;
	}

	/* ======Menu========= */

.menu .heading{
	font-size: 3rem;
	color: #ffff;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	margin: 5rem
}
.menu .heading span{
	color: #ffc107;
	text-transform: uppercase;
}

.menu .box-contener{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;
}
.menu .box-contener .box{
	padding: 3rem;
	text-align: center;
	border: .2rem solid #ffc107;
	height: 15rem;
}
.menu .box-contener .box:hover{
	background: #443300;
	transition: .5s;
}
.menu .box img {
	width: 8rem;
	height: 8rem;
	margin-bottom: 2rem;
}
.menu .box-contener .box .btn{
	text-transform: uppercase;
		background: #ffc107;
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 2.5rem;
		width: 14rem;
		border-radius: 3rem;
		color: #232330;
		font-weight: 600;
		cursor: pointer;
		margin-top: 1rem;
		transition: .5s  ease all;
}

.menu .box-contener .box .btn:hover{
	background: #161616;
		color: #ffc107;
}
/* =====reviwe===== */
.reviwe .heading{
	font-size: 2rem;
	color: #ffff;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	margin: 5rem
}
.reviwe .heading span{
	color: #ffc107;
	text-transform: uppercase;
}
.reviwe .box-content {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
}
.reviwe .box-content .box {
	padding: 1rem;
	text-align: center;
	border: .2rem solid #ffc107;
	height: 25rem;
	
}
.reviwe .box-content .box img{
	height: 5rem;
	
}

.reviwe .box p{
	 width: 20rem;
}

/* ======Contact======= */
.contact h3{
	font-size: 2rem;
	color: #ffc107;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	margin: 5rem
}
.contact span{
	color: #fff;
	text-transform: uppercase;
}

.contact .row{
	display: flex;
	justify-content: space-evenly;
	background: #13131a;
	
	gap: 1rem;
}

.contact .row form h3{
	text-transform: uppercase;
	font-size: 2rem;
	color: #ffc107;
	margin-bottom: 2rem;
	margin-top: 2rem;
}
.contact .row form .input_box{
display: flex;
align-items: center;
margin-top: 1rem;
margin-bottom: 1rem;
background: #13131a;
border: .15rem solid #ffc107;
height: 2rem;

}
.contact .row form .input_box span{
	padding-left: 1rem;
}
.contact .row form .input_box input{
	background: none;
	border: none;
	padding: 1rem;
	font-size: 1rem;
	width: 100%;
	height: .1rem;
	text-transform: none;
}

.contact .row form .btn{
	text-transform: uppercase;
		background: #ffc107;
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 2.5rem;
		width: 14rem;
		border-radius: 3rem;
		color: #232330;
		font-weight: 600;
		cursor: pointer;
		margin-top: 1rem;
		border: none;
		transition: .5s  ease all;
}
.contact .row form .btn:hover{
	background: #161616;
	color: #ffc107;
	border: .1rem solid #ffc107;
}

/* =====footer======= */
.footer{
	width: 100%;
	height: auto;
	background: #13131a;
}
.footer .social{
	display: flex;
	justify-content: center;
	gap: 2rem;
	font-size: 1.2rem;
}
.footer .social a{
	text-decoration: none;
	color: #fff;
	border: .1rem solid #ffc107;
	border-radius: 50%;
	padding: 1rem;
	transition: .5s  ease all;
}
.footer .social a:hover{
	background: #ffc107;
	color: #13131a;
}
.footer .links{
	display: flex;
	justify-content: center;
	gap: 2rem;
	margin: 2rem;
}
.footer .links a{
	text-decoration: none;
	color: #fff;
	font-size: 1.5rem;
	transition: .5s all;
}
.footer .links a:hover{
	color: #ffc107;
}
.footer h4{
	display: flex;
	justify-content: center;
    font-size:.7rem;
	font-weight: 400;
	color: gray;


}
@media (max-width: 768px){
	.header .icons #menu-btn{
	display: inline-block;
}
.header .nav{
	position: absolute;
	top: 100%;
	right:-800%;
	width: 25rem;
	height: auto;
	background: #000;
	z-index: 999;
	transition: .5s all;
}
.header .nav.active {
	right: 0;
}
.header .nav a{
	color: #fff;
	display: flex;
	flex-direction: column;
	margin: 1.5rem;
}
.login{
	position: absolute;
	right: 5%;
	width: 30rem;
	
}
.login .btn{
	margin-left: 12rem;
}
.menu .box-contener .box{
	width: 30%;
}
.reviwe .box-content .box{
	width: 40%;
	overflow: hidden;
	
}
.reviwe .box p {
	width: 15rem;
	margin-bottom: 2rem;
}


}
@media (max-width: 420px){
	.header .searchform{
		position: absolute;
		right: 5%;
		width:15rem ;
	}
	.login{
		position: absolute;
	right: 3%;
	width: 15rem;
	}
	.login .input-box{
		width: 90%;
		margin-left: 0px;
	}
	.login p a{
		margin-left: 0;
	}
	.login .btn{
		margin-left: 0;
		
	}
	.login .singup{
		margin-left: 0;
	}
	.header .cart-contener{
		width: 20rem;
	}
	.header .nav{
		width: 20rem;
	}
	.Home .hero h3{
		width: 15rem;
		font-size: 2rem;
	}
	.Home .hero p{
		font-size: .8rem;
	}
	.menu .box-contener .box{
		width: 60%;
	}
	.reviwe .box-content .box{
		width: 90%;
	}
	.contact .row{
		display: inline-block;
	}
	.contact iframe{
  width: 95%;
	}
	.footer .links{
		display: flex;
		flex-direction: column;
	}
	.footer .social{
		gap: 1rem;
	}
}